<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ The MIT License (MIT)
  ~ Copyright (c) 2014 longkai
  ~ The software shall be used for good, not evil.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.catnut"
	android:versionCode="5"
	android:versionName="@string/version_name">

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme.Light"
		android:name=".core.CatnutApp">
		<activity
			android:name=".ui.HelloActivity"
			android:noHistory="true"
			android:theme="@style/Theme.Fantasy">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.MainActivity" />
		<activity android:name=".ui.ProfileActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.VIEW" />
				<data android:scheme="org.catnut" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.TweetActivity" />
		<activity android:name=".ui.SingleFragmentActivity" />
		<activity
			android:uiOptions="splitActionBarWhenNarrow"
			android:name=".ui.ComposeTweetActivity"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.SEND" />
				<data android:mimeType="@string/mime_text_plain" />
			</intent-filter>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.SEND" />
				<data android:mimeType="@string/mime_image" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@style/Theme.Plugins"
			android:name=".ui.PluginsActivity" />
		<activity
			android:noHistory="true"
			android:name=".ui.NoHistoryActivity" />

		<provider
			android:authorities="org.catnut"
			android:name=".core.CatnutProvider" />
		<service android:name=".service.ComposeTweetService" />
		<service android:name=".service.UpgradeService" />
		<service android:name=".plugin.zhihu.ImagesDownloader" />
	</application>
</manifest>
