<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ The MIT License (MIT)
  ~ Copyright (c) 2014 longkai
  ~ The software shall be used for good, not evil.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="tingting.chen"
		  android:versionCode="0"
		  android:versionName="0.1">

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme.Light"
		android:name=".TingtingApp">
		<activity android:name=".ui.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:authorities="tingting.chen"
			android:name=".tingting.TingtingProvider" />
	</application>
</manifest>
